* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #35654d;
}

.landing-zone {
  width: 200px;
  height: 280px;
  border: 5px dashed #FFF;
  border-radius: 5px;
}

.landing-zone img {
  visibility: hidden;
}

.deck {
  width: 200px;
  height: 280px;
}

img {
  width: 200px;
  height: 280px;
  cursor: pointer;
}